---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<RECIPE_ID>&app_key=<RECIPE_KEY>&from=10&q=backwards&to=21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "backwards",
          "from" : 10,
          "to" : 21,
          "params" : {
            "sane" : [ ],
            "q" : [ "backwards" ],
            "from" : [ "10" ],
            "app_key" : [ "<RECIPE_KEY>" ],
            "to" : [ "21" ],
            "app_id" : [ "<RECIPE_ID>" ]
          },
          "more" : false,
          "count" : 12,
          "hits" : [ ]
        }
  recorded_at: Fri, 03 Nov 2017 22:02:11 GMT
recorded_with: VCR 3.0.3
