---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&from=0&q=as%3Bfj%3Balkfjsdlfkdsa%3Bfkjsd%3Bfkjasfl%3Bkjaflkjs&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "as;fj;alkfjsdlfkdsa;fkjsd;fkjasfl;kjaflkjs",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "q" : [ "as;fj;alkfjsdlfkdsa;fkjsd;fkjasfl;kjaflkjs" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "to" : [ "100" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 06 Nov 2017 10:22:02 GMT
recorded_with: VCR 3.0.3
