---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=ed7923a9&app_key=bda561c3bc890c5699c40e45462f8c26&q=&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "app_key" : [ "bda561c3bc890c5699c40e45462f8c26" ],
            "to" : [ "100" ],
            "app_id" : [ "ed7923a9" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 01 Nov 2017 18:53:39 GMT
recorded_with: VCR 3.0.3
