---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&from=0&q=&to=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 5,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "to" : [ "5" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Thu, 02 Nov 2017 17:05:58 GMT
recorded_with: VCR 3.0.3
