---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEYS>&q=chicken&to=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "q" : "chicken",
          "from" : 0,
          "to" : 50,
          "params" : {
            "sane" : [ ],
            "q" : [ "chicken" ],
            "app_key" : [ "<EDAMAM_KEYS>" ],
            "to" : [ "50" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : true,
          "count" : 88393,
          "hits" : [ {
            "recipe" : {
              "uri" : "http://www.edamam.com/ontologies/edamam.owl#recipe_7bf4a371c6884d809682a72808da7dc2",
              "label" : "Teriyaki Chicken",
              "image" : "https://www.edamam.com/web-img/262/262b4353ca25074178ead2a07cdf7dc1.jpg",
              "source" : "David Lebovitz",
              "url" : "http://www.davidlebovitz.com/2012/12/chicken-teriyaki-recipe-japanese-farm-food/",
              "shareAs" : "http://www.edamam.com/recipe/teriyaki-chicken-7bf4a371c6884d809682a72808da7dc2/chicken",
              "yield" : 6.0,
              "dietLabels" : [ "Low-Carb" ],
              "healthLabels" : [ "Sugar-Conscious", "Peanut-Free", "Tree-Nut-Free", "Alcohol-Free" ],
              "cautions" : [ ],
              "ingredientLines" : [ "1/2 cup (125ml) mirin", "1/2 cup (125ml) soy sauce", "One 2-inch (5cm) piece of fresh ginger, peeled and grated", "2-pounds (900g) boneless chicken thighs (4-8 thighs, depending on size)" ],
              "ingredients" : [ {
                "text" : "1/2 cup (125ml) mirin",
                "weight" : 122.99850463867188
              }, {
                "text" : "1/2 cup (125ml) soy sauce",
                "weight" : 134.72775268554688
              }, {
                "text" : "One 2-inch (5cm) piece of fresh ginger, peeled and grated",
                "weight" : 15.0
              }, {
                "text" : "2-pounds (900g) boneless chicken thighs (4-8 thighs, depending on size)",
                "weight" : 907.1847534179688
              } ],
              "calories" : 2253.102010192871,
              "totalWeight" : 1179.9110107421875,
              "totalNutrients" : {
                "ENERC_KCAL" : {
                  "label" : "Energy",
                  "quantity" : 2253.102010192871,
                  "unit" : "kcal"
                },
                "FAT" : {
                  "label" : "Fat",
                  "quantity" : 151.56383573303222,
                  "unit" : "g"
                },
                "FASAT" : {
                  "label" : "Saturated",
                  "quantity" : 41.16983950408936,
                  "unit" : "g"
                },
                "FATRN" : {
                  "label" : "Trans",
                  "quantity" : 0.7711070404052734,
                  "unit" : "g"
                },
                "FAMS" : {
                  "label" : "Monounsaturated",
                  "quantity" : 63.10028230957031,
                  "unit" : "g"
                },
                "FAPU" : {
                  "label" : "Polyunsaturated",
                  "quantity" : 31.829529390563962,
                  "unit" : "g"
                },
                "CHOCDF" : {
                  "label" : "Carbs",
                  "quantity" : 17.725465322875976,
                  "unit" : "g"
                },
                "FIBTG" : {
                  "label" : "Fiber",
                  "quantity" : 1.377822021484375,
                  "unit" : "g"
                },
                "SUGAR" : {
                  "label" : "Sugars",
                  "quantity" : 0.7939110107421875,
                  "unit" : "g"
                },
                "PROCNT" : {
                  "label" : "Protein",
                  "quantity" : 161.7217528564453,
                  "unit" : "g"
                },
                "CHOLE" : {
                  "label" : "Cholesterol",
                  "quantity" : 889.0410583496093,
                  "unit" : "mg"
                },
                "NA" : {
                  "label" : "Sodium",
                  "quantity" : 8139.825075378418,
                  "unit" : "mg"
                },
                "CA" : {
                  "label" : "Calcium",
                  "quantity" : 116.51301635742186,
                  "unit" : "mg"
                },
                "MG" : {
                  "label" : "Magnesium",
                  "quantity" : 276.82170288085933,
                  "unit" : "mg"
                },
                "K" : {
                  "label" : "Potassium",
                  "quantity" : 2529.722247314453,
                  "unit" : "mg"
                },
                "FE" : {
                  "label" : "Iron",
                  "quantity" : 8.335407241821288,
                  "unit" : "mg"
                },
                "ZN" : {
                  "label" : "Zinc",
                  "quantity" : 12.950414468383789,
                  "unit" : "mg"
                },
                "P" : {
                  "label" : "Phosphorus",
                  "quantity" : 1660.4080426025391,
                  "unit" : "mg"
                },
                "VITA_RAE" : {
                  "label" : "Vitamin A",
                  "quantity" : 208.6524932861328,
                  "unit" : "µg"
                },
                "VITC" : {
                  "label" : "Vitamin C",
                  "quantity" : 0.75,
                  "unit" : "mg"
                },
                "THIA" : {
                  "label" : "Thiamin (B1)",
                  "quantity" : 0.7104550283813476,
                  "unit" : "mg"
                },
                "RIBF" : {
                  "label" : "Riboflavin (B2)",
                  "quantity" : 1.5428186843872067,
                  "unit" : "mg"
                },
                "NIA" : {
                  "label" : "Niacin (B3)",
                  "quantity" : 45.02841629455566,
                  "unit" : "mg"
                },
                "VITB6A" : {
                  "label" : "Vitamin B6",
                  "quantity" : 3.3713281683349607,
                  "unit" : "mg"
                },
                "FOLDFE" : {
                  "label" : "Folate equivalent (total)",
                  "quantity" : 47.72742797851562,
                  "unit" : "µg"
                },
                "FOLFD" : {
                  "label" : "Folate (food)",
                  "quantity" : 47.72742797851562,
                  "unit" : "µg"
                },
                "VITB12" : {
                  "label" : "Vitamin B12",
                  "quantity" : 5.624545471191406,
                  "unit" : "µg"
                },
                "VITD" : {
                  "label" : "Vitamin D",
                  "quantity" : 27.21554260253906,
                  "unit" : "IU"
                },
                "TOCPHA" : {
                  "label" : "Vitamin E",
                  "quantity" : 1.9440879821777342,
                  "unit" : "mg"
                },
                "VITK1" : {
                  "label" : "Vitamin K",
                  "quantity" : 19.065879821777344,
                  "unit" : "µg"
                }
              },
              "totalDaily" : {
                "ENERC_KCAL" : {
                  "label" : "Energy",
                  "quantity" : 112.65510050964356,
                  "unit" : "%"
                },
                "FAT" : {
                  "label" : "Fat",
                  "quantity" : 233.17513189697266,
                  "unit" : "%"
                },
                "FASAT" : {
                  "label" : "Saturated",
                  "quantity" : 205.8491975204468,
                  "unit" : "%"
             [...]
