---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=f530943b&app_key=<EDAMAM_KEY>&from=0&q=&to=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 9,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "to" : [ "9" ],
            "app_id" : [ "f530943b" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 06 Nov 2017 01:05:53 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=f530943b&app_key=<EDAMAM_KEY>&r=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "["
  recorded_at: Mon, 06 Nov 2017 01:05:54 GMT
recorded_with: VCR 3.0.3
