---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&from=10&q=kljkjlk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "kljkjlk",
          "from" : 10,
          "to" : 20,
          "params" : {
            "sane" : [ ],
            "q" : [ "kljkjlk" ],
            "from" : [ "10" ],
            "app_key" : [ "<APP_KEY>" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Thu, 02 Nov 2017 00:51:31 GMT
recorded_with: VCR 3.0.3
