---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<RECIPE_ID>&app_key=<RECIPE_KEY>&q=NoRecipeWouldHaveThis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "NoRecipeWouldHaveThis",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "NoRecipeWouldHaveThis" ],
            "app_key" : [ "<RECIPE_KEY>" ],
            "app_id" : [ "<RECIPE_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Tue, 31 Oct 2017 18:51:20 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<RECIPE_ID>&app_key=<RECIPE_KEY>&from=0&q=NoRecipeWouldHaveThis&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "NoRecipeWouldHaveThis",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "NoRecipeWouldHaveThis" ],
            "from" : [ "0" ],
            "app_key" : [ "<RECIPE_KEY>" ],
            "to" : [ "10" ],
            "app_id" : [ "<RECIPE_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 01 Nov 2017 21:29:22 GMT
recorded_with: VCR 3.0.3
