<section class="hero">
  <div class="inside-hero small-11 medium-9 large-7 columns">
    <h1>muncher</h1>

    <h3>Find your flavor . . .</h3>
    <%= form_tag( search_path(:search) ) do %>
      <%= text_field_tag :search %>

      <%= submit_tag "Search" %>
    <% end %>
  </div>
</section>
