<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<h1>The Munchies</h1>
<!-- a form element with "GET" method -->
<%= form_tag recipes_path method: :get do %>

<!-- a label for the input -->
<%= label_tag(:q, "", class: 'field') %>

<!-- a text input element, creates text field -->
<%= text_field_tag(:q) %>

<!-- a submit element -->
<%= submit_tag("Search") %>

<% end %>
