<div class="row collapse">
  <%= form_tag("/search", method: "get") do %>
    <!-- <%= label_tag(:q, "Search for:") %> -->
    <div class="small-10 columns collapse-right">
      <%= text_field_tag(:q) %>
    </div>
    <div class="small-2 columns collapse-left">
      <%= submit_tag("submit", class: "secondary hollow button") %>
    </div>
  <% end %>
</div>
