<header class = "page-header">
  <h2 class = "">
    <div id = "muncher-topnav-logo">
      <%= link_to("What's Cookin'?", root_path) %>
    </div>
  </h2>
  <nav class = "search-bar-nav">
    <div class= "search-bar">
      <%= form_tag recipes_search_path, :method => "get" do %>
      <div class = "search"><%= text_field_tag :keywords%><div>
      <div class = "submit-button"><%= submit_tag "Search", :class => "button"%><div>
          </div>
    <% end %>
  </nav>
</header>
