<div class="row header-box">
  <h1 class="small-12 large-4 columns" id="site-name-header"><%=link_to "gourmake", root_path%></h1>
  <div class="small-12 large-8 columns" id="header-search">
    <%= form_tag(recipes_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
    <% end %>
  </div>
</div>
