<header>
  <div class="page-header">
    <div class="row">
      <h1 id="main-header"><%= link_to "RECIPE MUNCHER", root_path %></h1>
        <%= render partial: "search" %>
    </div>
  </div>
</header>
