<header>
  <div class="header_page">
    <div class="row">
      <section class="header-search">

        <h3 id="header_text"><%= link_to "MUNCHER", root_path %></h3>
        <%= render partial: "form" %>
      </section>
    </div>
  </div>
</header>
