<main>
  <section>
    <header>
      <h1>MUNCHIES</h1>
    </header>

    <div>
      <%= form_tag('/recipes', method: :get) do %>
        <%= label_tag(:q, "Search for a recipe here!") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Find My Recipes!") %>
      <% end %>
    </div>
</main>
