<section>

  <h3 id="recipe-results"><%= "Results for #{params[:q]}" %></h3>
  <div class="row">
  <% @recipes.each do |recipe| %>
      <div class = "small-6 medium-4 large-3 columns" id="recipe-result">
      <% "#{recipe.url}" %>
      <% "#{recipe.ingredients}"%>
      <%=image_tag("#{recipe.image}", alt:"#{recipe.label}") %>
      <section id= "recipe-title">
        <%= link_to "#{recipe.label}", recipe_path("#{recipe.id}")%>
      </section>
      </div>
  <% end %>
  </div>

  <section><%= will_paginate @recipes %></section>

</section>
