<section class="row">
  <div class="columns small-12 large-6">
    <h1>Recipes#index</h1>
    <p>Find me in app/views/recipes/index.html.erb</p>


    consider removing
    <h3>Results for <%= @query %> </h3>

    <% @recipes.each do |recipe| %>
      <%= link_to (image_tag (recipe.image)), recipe_path(recipe) %>
      <%= link_to recipe.name, recipe_path(recipe) %>
    <% end %>
  </div>
</section>

<div class="paginate">
  <%= will_paginate @recipes %>
</div>
