<h1>MUNCHER</h1>

<h2>Find your flavor...</h2>

<%= form_tag(recipes_search_path(:query), method: :get, id: "main-search") do %>
  <%= text_field_tag :query, params[:query]%>
  <%= submit_tag 'Search', name: nil %>
<% end %>
