<section class="recipes-main">
  <h1>Recipes</h1>
  <%# if @recipes == nil %>
    <%= form_tag root_path, method: "get", id: "search-form" do %>
      <%= text_field_tag :search, params[:search], placeholder: raw("&#9906;") %>
    <% end %>
  <%# else %>
    <ul>
      <%# @recipes.each do |recipe| %>
        <li>
          <%#= recipe["recipe"]["label"] %>
        </li>
      <%# end %>
    </ul>
  <%# end %>
</section>
