<h1>Recipes</h1>

<% if @recipes.empty? %>
  <h4>There are no recipes matching your search.</h4>
<% else %>
  <% @recipes.each do |recipe| %>
    <article>
      <%= image_tag (recipe.image) %>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </article>
  <% end %>
<% end %>
