<h2 class="recipe-index"><%= params[:query].capitalize %> Recipes</h2>

<div class="recipe-index">
<% if @recipes.empty? %>
  <h4>There are no recipes matching your search.</h4>
<% else %>
  <% @recipes.each do |recipe| %>
    <article class="recipe">
      <%= image_tag (recipe.image) %>
      <%= link_to recipe.name, { :controller => 'recipes', :action => 'show', :uri => recipe.uri } %>
    </article>
  <% end %>
<% end %>
</div>

<section class="paginate">
  <%= will_paginate(@recipes) %>
</section>
