<main class="index">
  <section class="row">
    <h1 class = "large-4 small-4 small-centered large-centered columns">MUNCHER </h1>
  </section>

  <section class="row">
    <%= render partial: "layouts/search_bar" %>
  </section>
</index>
