<% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h4>Search for something tasty!</h4>
<% end %>
