<h1>Index</h1>

<ul>
  <% @recipes.each do |recipe| %>
  <li>
    <h3><%=recipe.label%></h3>
    <ul>
      <li>
        <%=recipe.url%>
      </li>
      <li>
        <%=recipe.ingredients%>
      </li>
    </ul>

  </li>
  <% end %>
</ul>
