<h1>Recipes</h1>

<% if @recipes.empty? %>
  <h4>There are no recipes matching your search.</h4>
<% else %>
  <% @recipes.each do |recipe| %>
    <article>
      <%= image_tag (recipe.image) %>
      <%= link_to recipe.name, { :controller => 'recipes', :action => 'show', :uri => recipe.uri } %>
    </article>
  <% end %>
<% end %>

<section class="parginate">
  <%= will_paginate(@recipes) %>
</section>
