
<section class="recipes-list">
  <h1>List of recipes</h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.label, recipe_path(id) %>

        <%#= link_to recipe.url, recipes_path %>
      </li>
    <% end %>
  </ul>
</section>
