<h1>Index</h1>
<%= params %>

<ul>
  <% @recipes.each do |recipe| %>
  <li>
    <h3><%=link_to recipe.label, recipe_path() + "?search=#{params[:search]}" + "&url=#{URI.encode(recipe.url)}" %></h3>
    <ul>
      <li>
        <%=recipe.url%>
      </li>
      <li>
        <%=recipe.ingredients%>
      </li>
    </ul>

  </li>
  <% end %>
</ul>
