<section>
  <h3>Results for: <%= (params[:search]) %></h1>
  <ul>

    <% @recipes.each do |recipe| %>
      <article>
        <li><%= link_to recipe.label, URI.encode("#{recipe_path(recipe.label)}?uri=#{recipe.uri.encode}") %></li>
        <li><img src=<%=recipe.image%>></li>
      </article>
    <% end %>

  </ul>
</section>
<%= paginate @recipes %>
