<section class="main-page row">
  <div class="large-12 columns">
    <div class="cool-transparent-bg">
      <div class="display-table search-bar va-align">
        <div class="row">
          <div class="columns small-1 small-centered">
            <span class="title">"MENU"</span>
            <%= render partial: 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
