<section class="main-page row">
  <div class="large-12 large-centered column">
    <div class="cool-transparent-bg">
      <div class="display-table search-bar va-align">
        <span class="title">"MENU"</span>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</section>
