<section class="main-page row">
  <div class="large-12 columns">
    <div class="cool-transparent-bg">
      <div>
        <div class="display-table search-bar va-align">
          <h2>イタダキマス！</h2>
          <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
