<body class="main-page">
  <h1 id="main-header">
    RECIPE MUNCHER
  </h1>
  <div class = "main-search row">
    <div class="main-search-form">
      <%= render partial: "search" %>
    </div>
  </div>
</body>
