<h1>MUNCHER</h1>

<div class="search-box">
  <%= form_tag("/recipes", method: "get") do %>
    <%= label_tag(:q, "Search Recipes:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search", class:"button")%>
  <% end %>
</div>
