<section class="front-page">
  <div class="row textblock">
    <h2>hungry?</h2>
    <h4>you came to the right place</h4>

  </div>
</section>
<section class="sub-box row">
  <h1>Search Now</h1>
<h3>don't be hangry</h3>
    <%= form_tag(recipes_path, :method => "get", id: "search-front") do %>
    <%= text_field_tag :search, params[:search], placeholder: "ðŸ½ï¸    Search Recipes", id:'search-front' %>
    <%# submit_tag "Search", :name => nil %>
    <% end %>

</section>
