<div class="main row">
  <div class="columns small-12">

    <h1>Welcome to The Munchies</h1>
    <p>
    For when you are feeling extra hungry :)
    </p>
    <p>Use the search bar and find recipes to your favorite meals!</p>

  </div>

</div>
