
<% unless params[:keywords] == nil %>
  <h1>Results for <%= @keywords %> </h1>
<%end%>

<% @recipes.each do |recipe| %>
<ul>
  <li><%= image_tag recipe.image%></li>
  <li>Recipe: <%=recipe.label%></li>
</ul>
<%end%>
