<h1>Search Results</h1>

<h2>Results for <%= @query %></h2>
<% @results.each do |hit| %>
  <article class="search-result">
    <% params[:uri] = hit['recipe']['uri'][/recipe_\w*/] %>
    <%= link_to recipe_path(params[:uri]) do %>
      <span class="result-image">
        <img src="<%= hit['recipe']['image'] %>">
      </span>
      <span class="result-label">
        <%= hit['recipe']['label'] %>
      </span>
    <% end %>
  </article>
<% end %>
