<section id="main-form-container" class="row">

  <section id="main-form" class="large-6 large-centered medium-10 medium-centered columns">
    <h1><%= t(:site_name) %></h1>
    <%= form_tag recipes_path, method: :get do %>
    <p>Make and Munch on a Recipe Today</p>
    <%= text_field_tag :query%>
    <%= submit_tag 'Search Food', class: "button" %>
    <% end %>
  </section>

</section>
