<h3>MUNCHER</h3>
<h4>Result for "<%= "#{params[:query]}" %>"</h4>

<section class="recipes row small-up-2 medium-up-3 large-up-4">
<% @recipes.each do |recipe| %>
  <article class="column">
    <%= link_to (image_tag(recipe.image)), root_path %>
    <p><%= link_to recipe.name, root_path %></p>
  </article>
<% end %>    
</section>
