

<article class = "show row">
  <% @recipe.each do |r| %>
  <h2><%= r.label %></h2>
    <section class="small-12 medium-6 columns">
      <%= image_tag r.image %>
    </section>
    <section class="small-12 medium-6 columns">
      <p><em>Originally from <%= link_to r.url %></em></p>
    </section>


  <% end %>
</article>
