<!-- (:search) is the param that is referenced in the recipe index controller that the user is giving the browser. -->
<h1>The Guilty Carb</h1>


<%= form_tag recipes_path, method: :get do %>
  <%= label_tag(:search, "Ingredient") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Send") %>
<% end %>
