<!-- (:search) is the param that is referenced in the recipe index controller that the user is giving the browser. -->







    <section class="all-of-homepage">
      <div class="grid-x">
        <div class="large-1 medium-0 cell"></div>
          <div class="large-10 medium-12 small-12 cell">
            <h1>The Guilty Carb</h1>
          </div>
        </div>
      <div class="large-1 medium-0 cell"></div>

    <div class="grid-x">
      <div class="large-1 cell"></div>
        <div class="large-10 medium-12 small-12 cell">
          <%= form_tag recipes_path, method: :get do %>
            <%= label_tag(:search, "Find your flavor...") %>
            <%= text_field_tag(:search) %>
            <%= submit_tag("Send") %>
          <% end %>
        </div>
      </div>
    <div class="large-1 cell"></div>
  </section>
