/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*= require foundation */

/*///////////////////////////////
GENERAL
/////////////////////////*/

ul {
  list-style-type: none;
}

body {
  background-color: #F6F7D3;
}

.main {
  padding: 0 0 100px;
  position: relative;
}

/*///////////////////////////////
HERO
/////////////////////////*/

.hero {
  background-image: url('https://grist.files.wordpress.com/2017/06/vegetables.jpg?w=640');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  max-width: 100%;
  margin: 0;
  color: white;
  box-sizing: content-box;
  padding: 1% 5% 2% 5%;
  background-position: bottom;
  /*width: 100%;*/
}

.hero a {
  color: white;
  font-weight: bold;
}


/*///////////////////////////////
FOOTER
/////////////////////////*/

footer {
  /*background-color: white;*/
  /*margin-top: 95%;
  height: 5%;*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: #74B555;
  font-weight: bold;
}
