/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/**************************/
/*STYLING ACROSS ALL PAGES*/
/**************************/

.align-center {
  text-align: center;
}

.button {
  border: 1px black solid;
  background-color: transparent;
  color: black;
}

.button:hover {
    background-color: #f6e112;
    color: black;
}

.opac-bg {
  background:rgba(255,255,255, 0.9);
}

.search-padding {
  padding: 1em;
}

.search-font {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  color: black;
}

.font {
  font-family: 'Fredericka the Great', cursive;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border {
  border: 1px solid black;
}

/**************************/
/********** BODY **********/
/**************************/

html {
  height: 100%;
}
 body {
   background-color: #BED2CE;
   background-image: image-url("background_image.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
  //  font-family: 'Fredericka the Great', cursive;
  font-family: 'Open Sans', sans-serif;
 }

 /**************************/
 /******** FOOTER **********/
 /**************************/

footer {
  height: 10vh;
  background:rgba(255,255,255, 0.5);
}

footer p {
  padding-top: 16px;
}

/**************************/
/********* FLASH **********/
/**************************/

.failure {
  border-radius: 5px;
  background-color: #f04124;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
}

.success {
  border-radius: 5px;
  background-color: #a0d3e8;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
}
