/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome
*/
$light-blue: #092232;
$dark-blue: #051c2a; //#031626
$blue: #154e73;
$light-yellow: #FDAA5D; //fead5e
$gold: #C08750;
$gray: rgba(243, 243, 243, 0.8);
$dark-gray: #2b303b;

body {
  background-image: url('pattern2.png');
  background-repeat: repeat;
  color: $light-yellow;
  font-family: 'Rozha One',serif; //'Pathway Gothic One', sans-serif;
}

h1 {
  font-family: 'Rozha One', serif;
}

//------ front page --------

.front-page {
  text-align: center;
  margin: 2em auto 3.5em auto;
}

.front-page h1 {
  font-size: 10rem;
}

.front-page h1:hover {
  color: $gold;
}

.front-page .search {
  margin: 0 auto;
  width: 75%;
}


input#search{
  height: 2.5em;
  background: #2b303b;
  border: none;
  color: #63717f;
  opacity: 0.8;
  padding: 1em;
  font-size: 1.5em;
  font-family: 'Pathway Gothic One',sans-serif;
}

.search h5{
  font-family: 'Damion',sans-serif;
  text-align: right;
  font-size: 2.5em;
}

//---------- RECIPE --------------------
.recipe-card {
  text-align: left;
  display: inline-block;
  //width: 90%;
  padding: 10px;
  //margin-bottom: 20px;
  //font-size: 0.75em;
  position: relative;
}

// .recipe-card:hover {
//   transition: opacity 0.3s ease;
//   opacity: 0.7;
// }

figure {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  background: $gray;
  overflow: hidden;
}

/* Zoom Out #1 */
.recipe-card figure img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.recipe-card figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.recipe-card p {
  position: absolute;
  bottom: 8px;
  //left: 16px;
  background-color: $gray;
  width: 80%;
  padding: 0.5em;
}

.recipe-card p {
  color: $blue;
  font-family: 'Rozha One';
  font-size: 1.5em;
}

a:hover {
  color: $light-blue;
}
// .recipe-card p {
//   margin: 0;
// }
//
// .recipe-card p:nth-child(2) {
//   width: 100%;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   padding: 7px 0 0;
//   letter-spacing: 0.03em;
// }

// ---- pagination ----
.pagination a {
  display: inline-block;
  color: $gray;
}

.pagination a:hover {
  color: rgba(243, 243, 243, 0.6);
  background: none;
}

.pagination .current {
  background: $light-blue;
}

.paginate {
  text-align: center;
  margin-top: 1em;
}

//---------- RECENT SEARCH -------------
.recent-searches {
  background-color: $dark-gray;
  opacity: 0.7;
  max-width: 100%;
  padding: 10px;
}

.recent-searches  {

  h3 {
    font-family: 'Pathway Gothic One';
  }

  figure {
    width: 200px;
    height: 200px;
  }

  /* Zoom Out #1 */
  // .recipe-card figure img {
  // 	-webkit-transform: scale(1.25);
  // 	transform: scale(1.25);
  // 	-webkit-transition: .3s ease-in-out;
  // 	transition: .3s ease-in-out;
  // }
  // .recipe-card figure:hover img {
  // 	-webkit-transform: scale(1);
  // 	transform: scale(1);
  // }
  //
  // .recipe-card p {
  //   position: absolute;
  //   bottom: 8px;
  //   //left: 16px;
  //   background-color: $gray;
  //   width: 80%;
  //   padding: 0.5em;
  // }
}

//---------- SMALL SCREEN --------------
@media print, screen and (max-width: 40em){






}
