// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Palette

$coral: #ED6A5A;
$yellow: #F4F1BB;
$grey: #59656F;
$teal: #9BC1BC;
$putty: #E6EBE0;

///////////
// INDEX //
///////////

.recipe-card {
  background-color: $teal;
  border-radius: 1rem;
  display: inline-block;
  height: 18rem;
  margin-bottom: 1rem;
  width: 100%;
}

.recipe-card h6 {
  height: 4rem;
  margin: 0 1rem;
  overflow-y: hidden;
}

.recipe-card .recipe-image {
  height: 12rem;
  margin: 1rem auto;
  width: 50%;
}

.recipe-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media print, screen and (min-width: 40em) {
  .recipe-card .recipe-image {
    width: 90%;
  }
}

.page-buttons {
  clear: both;
}

.page-btn {
  margin: 1rem;
}

.last-page {
  float: left;
}

.next-page {
  float: right;
}

////////////
// RECIPE //
////////////

.recipe row {
  margin: auto;
  width: 80%;
}

.recipe-page .row {
  margin: 1rem auto;
}

.page-title {
  text-align: center;
}

.recipe-page-image {
  margin-bottom: 1rem;
  width: 17rem;
}

.image-holder {
  text-align: center;
}

.ingredients {
  margin: 0;
}

@media print, screen and (min-width: 40em) {
  .recipe-page-image {
    width: 20rem;
  }

  .recipe .ingredients {
    min-height: 20rem;
  }
}

@media print, screen and (min-width: 64em) {
  .recipe-page-image {
    width: 25rem;
  }

  .recipe .ingredients {
    min-height: 20rem;
  }
}

///////////////
// NUTRITION //
///////////////

table {
  margin: auto;
  max-width: 17rem;
}

@media print, screen and (min-width: 40em) {
  table {
    width: 20em;
    max-width: 20rem;
  }
}

@media print, screen and (min-width: 64em) {
  table {
    width: 25em;
    max-width: 25rem;
  }
}

thead th {
  text-align: center;
}

thead th h3 {
  line-height: 1;
  margin-bottom: 0;
}

thead th p {
  font-weight: normal;
  line-height: 0;
}

tbody th {
  text-align: left;
}

tbody th small {
  padding-left: 1rem;
}
