// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Coolors Exported Palette - coolors.co/
454ade-
$brightindigo: rgba(69, 74, 222, 1);
1b1f3b-
$damsen: rgba(27, 31, 59, 1);
b14aed-
$popmagenta: rgba(177, 74, 237, 1);
c874d9-
$frenchmauve: rgba(200, 116, 217, 1);
e1bbc9-
$cameopink: rgba(225, 187, 201, 1);
 */

// Fonts //
// $feature-font: 'Shrikhand', cursive;
// $copy-font: 'PT Sans Narrow', sans-serif;
// $comment-font: 'Amatic SC', cursive;

main {
  padding-bottom: 80px;
}

footer {
  position: absolute;
  height: 50px;
  width: 100%;
}
