// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********** HOME **********/
// .zero-margin {
//   margin: 0 auto;
// //   // padding: 5% 0;
// }

// .max-height {
// // //   padding: 30% 0;
//   height: 90vh;
// }
//

.font {
  font-family: 'Fredericka the Great', cursive;
}

.search-wrapper {
  padding: 25% 0;
}

.auto-height {
  height: 90vh;
}

.pagination a {
  display: inline-block;
}

.border {
  // border: 2px solid black;
}
