// Place all the styles related to the Recipies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********************/
/**** Main on root ***/
/*********************/

/* QUESTION:
1. how to get form_for to respond to styling
2. how to get footer to move down (if the form_for was responding to styling then maybe it would fix this too?)
*/


.title {
  padding: 50px;
  text-align: center;
  margin: 50px auto;
  font-size: 300%;
  width: 90%
}

.search {
  width: 100%;
  width: 400px;
  margin-bottom: 50px;
  padding: 5%;
}


/*********************/
/**** index page   ***/
/*********************/

.index-photo {
  display: block;
}

.index-name {
  display: block;
}

.paginate {
  display: inline-block;
}

.pagination {
  background: white;
  cursor: default;
}

  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  .pagination .disabled {
    color: #999999;
   }

  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
  }

  .pagination a {
    text-decoration: none;
    color: #105cb6;
  }

  .pagination a:hover, .pagination a:focus {
    background: white;
    color: #000044;
    // border-color: #000044;
  }
