// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************/
/********* HOME ***********/
/**************************/

@media screen and (max-width: 768px) {
  .large-font {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    margin: 0;
    color: black;
    }
}

@media screen and (min-width: 769px) {
  .large-font {
    font-family: 'Fredericka the Great', cursive;
    font-size: 5em;
    margin: 0;
    color: black;
    }
}

.auto-height {
  height: 90vh;
}

.search-wrapper {
  padding: 20% 0;
}

/**************************/
/********* INDEX **********/
/**************************/

/***** HEADER SEARCH ******/

.top-search-wrapper {
  margin: 0;
  min-width: 100%;
}

/******** RESULTS *********/

.results-styling {
  font-family: 'Fredericka the Great', cursive;
  padding: 1em;
  text-align: center;
}

.full-image {
  width: 100%;
  height: auto;
  border: 1px solid grey;
}

.bg-white {
  background-color: white;
  padding-top: 10px;
}

.name-styling {
  margin: 0;
  padding: 5px;
}

.font-resize {
  font-size: 1em;
}

// .image-hover {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
// }
//
// .image-hover::after {
//   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
//  }
//
//  .image-hover:hover::after {
//    opacity: 1;
//  }

.pagination {
  background:rgba(255,255,255, 0.5);
  margin: 0;
  padding: 20px 0px 20px 0px;
}

.pagination a {
  display: inline-block;
  padding: 5px 15px;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.pagination .current {
  background: #f6e112;
  padding: 5px 15px;
  color: black;
  border: 1px solid black;
}

/**************************/
/********** SHOW **********/
/**************************/

.nutrition-wrapper {
  padding: 20px
}

.set-height {
  height: 500px;
}

.margin-zero-auto {
  margin: 0 auto;
}

.mid-width {
  width: 90%;
  padding-top: 2%;
}

.less-width {
  width: 80%;
}

.normal-font {
  font-family: 'Open Sans', sans-serif;
}

.green {
  color: #00990F;
}

.li-columns {
  columns: 300px;
}
