// Place all the styles related to the recipie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.columns input{
  float: right;
}

.recipe{
  padding: 10px;
}

figure{
  margin: 10px;
  padding: 5px;
}

#dietary{
  padding:10px;
}
