<main class = "small-10 small-centered columns">
  <section class = "home small-12 small-centered columns search">
    <section class = "welcome-text">
      <h1>Welcome to Savor</h1>
      <h4> Recipes and nutritional information at your fingertips</h4>

    </section>
    <%= form_tag(recipe_results_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
  </section>

</main>
