<h1> recipe index page </h1>

<ol>
<% @recipes.each do |recipe| %>
<li>
  name: <%= recipe.label %>
</li>
<li>
  ingredients: <%= recipe.ingredients %>
</li>
<li>
  url: <%= recipe.recipe_url%>
</li>
<li>
  dietary: <%= recipe.dietary%>
</li>


</ol>
<%end %>
