
<section class = "results">
<% if @recipes.empty?%>
  <h4>Sorry, there are no recipes matching your search</h4>
<% else %>
  <!-- TODO: PAGINATE -->
  <ul>
    <% @recipes.each do |recipe|%>
    <li>
      <article>
        <%= image_tag recipe.image_url, alt: "Picture of #{recipe.name}"%>
        <p>
          <%=recipe.name %>
        </p>
      </article>
    <% end %>
    </li>
  </ul>

<% end %>
</section>
