<section class="recipes-list">
  <h1>Recipes</h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, show_recipe_path(recipe.mini_uri) %>
      </li>
    <% end %>
  </ul>
  <nav class="row">
    <%= will_paginate @recipes, renderer: FoundationPagination::Rails %>
  </nav>
</section>
