<h1>Dis be da root page</h1>


<%= form_tag search_path(:query), method: "get" do%>
  <%= label_tag(:query, "Find your Flavor") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("search", class: "button") %>
<% end %>
