<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="small-12 columns">
      <h1>API Muncher</h1>
  </header>

    <body>

      <%= yield %>
    </body>

    <footer class="small-12 columns" >
      <a href="https://www.edamam.com/">Powered by Edamam</a>
    </footer>
</html>
